body{
    margin: 0%;
    height: 100%;
    width: 100%;
}
.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.box{
    position: relative;
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red{
    background-color: red;
  
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow; 
}
.pink{
    background-color: rgb(255, 0, 144);
}
.circle {
    position: absolute;
    width: 18%;
    height: 33%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.square {
    position: relative;
    width: 50%;
    height: 50%;
    background-color: red;
}

.centerbox {
    position: absolute;
    width: 14vw;
    height: 25vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centerboxcircle{
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: red;
}
.top-right{
    position: absolute;
    width: 6%;
    height: 10%;
    background-color: white;
    top :0;
    right: 0;
    border-bottom-left-radius: 100%;
}
.top-left{
    position: absolute;
    width: 6%;
    height: 10%;
    background-color: white;
    top: 0;
    left: 0;
    border-bottom-right-radius: 100%;

}
.bottom-right{
    position: absolute;
    width: 6%;
    height: 10%;
    background-color: white;
    bottom: 0;
    right: 0;
    border-top-left-radius: 100%;

}
.bottom-left{
    position: absolute;
    width: 6%;
    height: 10%;
    background-color: white;
    bottom: 0;
    left: 0;
    border-top-right-radius: 100%;
}
.topp-center{
    position: absolute;
    bottom: 95%;
    width: 6%;
    height: 10%;
    background-color: white;       
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
 

}
.bottomm-center{
    position: absolute;
    top: 94%;
    background-color: white;  
    width: 6%;
    height: 10%;     
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}